@font-face {
    font-family: 'petitamediumregular';
    src: url('../fonts/petitamedium-webfont.eot');
    src: url('../fonts/petitamedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petitamedium-webfont.woff') format('woff'),
         url('../fonts/petitamedium-webfont.ttf') format('truetype'),
         url('../fonts/petitamedium-webfont.svg#petitamediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'petitalightregular';
    src: url('../fonts/petitalight-webfont.eot');
    src: url('../fonts/petitalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petitalight-webfont.woff') format('woff'),
         url('../fonts/petitalight-webfont.ttf') format('truetype'),
         url('../fonts/petitalight-webfont.svg#petitalightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.macro-color {color: #d70056;}

.navbar-brand {
	background: #fff url(../img/macrodato-logo.png) no-repeat center center;
	height: 93px;
	margin-left: 30px;
	text-indent: -9999999px;
	width: 147px;
}

.navbar-default {
	background-color: #fff;
	border-color: transparent;
	font-family: 'petitamediumregular';
}

.nav {
	padding-left: 155px;
	text-transform: uppercase;
}

.navbar-nav,
.navbar-nav>li {
	height: 93px;
}

.navbar-nav>li>a {
	float: left;
	line-height: 93px;
}

.navbar-default .navbar-nav>li>a {color: #636363;}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #d70056;
}

.navbar-nav>li span {
	color: #d70056;
	float: left;
	line-height: 122px;
}

.home .carousel {
	background: transparent url(../img/bg-foto.png) no-repeat center center;
	background-size: cover;
}

.home .carousel-inner {
	height: 633px;
}

.home .carousel-inner>.item {
	height: 633px;
	padding: 100px;
}

.navbar-default .navbar-nav>li>a.active {
	color: #d70056;
}

.carousel-control {
	filter: alpha(opacity=1);
	height: 76px;
	margin-top: -38px;
	opacity: 1;
	text-indent: -9999999px;
	text-shadow: none;
	top: 50%;
	width: 76px;
}

.carousel-control.left {
	background: transparent url(../img/left-arrow.png) no-repeat center center;
	left: 35px;
}

.carousel-control.right {
	background: transparent url(../img/right-arrow.png) no-repeat center center;
	right: 35px;
}

.home .slide1 {
	left: 50%;
	margin-left: -140px;
	margin-top: -88px;
	position: absolute;
	top: 50%;
}

.carousel-indicators {bottom: -10%;}

.carousel-indicators li {
	background: transparent url(../img/rombo.png) no-repeat center center;
	border: none;
	border-radius: 0;
	height: 30px;
	width: 30px;
}

.carousel-indicators .active {
	background: transparent url(../img/rombo-hover.png) no-repeat center center;
	height: 30px;
	width: 30px;
}

.home .carousel-caption {
	font-size: 5em;
	left: 25%;
	margin-top: -90px;
	text-align: left;
	text-transform: uppercase;
	top: 50%;
}

.home .carousel-caption p {
	line-height: 55px;
}

.home .carousel-caption p span {
	color: #d70056;
}

.home .slider3 {padding-top: 12%;}

.home .block {
	background-color: #000;
	border-top: 6px solid #d70056;
	height: 253px;
	opacity: 0.5;
	width: 100%;
}

.home .block-wrapper {
	position: relative;
}

.home .block-wrapper p {
	color: #fff;
	font-size: 1.7em;
	line-height: 20px;
	padding: 25px 0 0 40px;
	position: absolute;
	top: 0;
	text-transform: uppercase;
}

.quienes .carousel {
	background: transparent url(../img/macrodato-bg.jpg) no-repeat center center;
	background-size: cover;
}

.quienes .carousel-inner {
	height: 633px;
}

.quienes .carousel-inner>.item {
	height: 633px;
	padding: 100px;
}

.quienes .carousel-caption {
	font-family: 'petitalightregular';
	font-size: 1.2em;
	padding: 0 70px;
	text-align: justify;
	top: 42%;
}

.servicios .carousel-inner,
.servicios .carousel-inner>.item {
	height: 587px;
}

.servicios .carousel-inner>.item {padding: 0 50px;}

.servicios .block {
	height: 587px;
	width: 100%;
}

.servicios .opublica {
	background: url(../img/opublica.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .mercado {
	background: url(../img/mercado.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .comunicacion {
	background: url(../img/ecomunicacion.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .politica {
	background: url(../img/asesoriapolitica.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .informacion {
	background: url(../img/informacion.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .opublica ul,
.servicios .mercado ul,
.servicios .comunicacion ul,
.servicios .politica ul,
.servicios .informacion ul {
	color: #fff;
	display: none;
	font-size: 1.35em;
	left: 8%;
	position: absolute;
	top: 25%;
}

.servicios .opublica ul li,
.servicios .mercado ul li,
.servicios .comunicacion ul li,
.servicios .politica ul li,
.servicios .informacion ul li {
	margin-top: 25px;
}

.servicios .opublica:hover {
	background: url(../img/opublica-grey.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .opublica:hover ul {display: block;}

.servicios .mercado:hover {
	background: url(../img/mercado-grey.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .mercado:hover ul {display: block;}

.servicios .comunicacion:hover {
	background: url(../img/ecomunicacion-grey.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .comunicacion:hover ul {display: block;}

.servicios .politica:hover {
	background: url(../img/asesoriapolitica-grey.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .politica:hover ul {display: block;}

.servicios .informacion:hover {
	background: url(../img/informacion-grey.jpg) no-repeat center center;
	background-size: cover;
}

.servicios .informacion:hover ul {display: block;}

.filosofia .carousel {
	background: transparent url(../img/compartiendo-bg.jpg) no-repeat center center;
	background-size: cover;
}

.filosofia .carousel-inner,
.contacto .carousel-inner {
	height: 633px;
}

.filosofia .carousel-inner>.item,
.contacto .carousel-inner>.item {
	height: 633px;
	padding: 100px;
}

.filosofia .carousel-caption {
	font-family: 'petitalightregular';
	font-size: 1.2em;
	left: 1%;
	padding: 0;
	position: relative;
	right: 1%;
	text-align: justify;
	top: 42%;
}

.contacto .carousel {
	background: transparent url(../img/contacto-bg.jpg) no-repeat center center;
	background-size: cover;
}

.contacto .carousel-inner {
	height: 633px;
}

.contacto .carousel-caption {
	font-size: 1em;
	left: 50%;
	padding: 0;
	right: 1%;
	text-align: left;
	top: 30%;
}

.contacto .carousel-caption p {
	margin-top: 50px;
}

.contacto .carousel-caption p a {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}

.carousel-wrapper {
	font-family: 'petitalightregular';
	height: 587px;
	overflow: hidden;
	position: relative;
}

.carousel-wrapper a {
	height: 76px;
	position: absolute;
	text-indent: -9999999px;
	top: 50%;
	width: 76px;
}

.carousel-wrapper .left {
	background: transparent url(../img/left-arrow.png) no-repeat center center;
	left: 0;
}

.carousel-wrapper .right {
	background: transparent url(../img/right-arrow.png) no-repeat center center;
	right: 0;
}

.carousel-wrapper .carousel-block {
	height: 587px;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 2480px;
}

.carousel-wrapper .carousel-block .block{
	float: left;
	height: 587px;
	margin-right: 26px;
	position: relative;
	width: 470px;
}